/* Add your own styles */

html, body{
    font-family: 'Roboto','Helvetica', sans-serif;
}
th{
    text-align: left;
    padding: 5px;
}

td{
    padding: 5px;
}

.header{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #546E7A;
    color: white;
    margin-bottom: 10px;
    
}

#country{
    width: 50em;
    height: 2em;
    border-radius: 5px;
    border: #FFFFFF 1px solid;
    display: block;
    margin: 0 auto;
    box-shadow:2px 2px 5px grey ;
}

#controls{
    padding-top:3em;
    margin: 0 auto;
    text-align: center;
}
#lookup{
    color: #FFFFFF;
    padding: 6px 16px;
    background-color:#4CAF50;
    border-color: #4CAF50;
    text-align: center;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block; 
    justify-content: center; 
    margin-top: 20px;
    margin: 0 auto;
}

#lookup_cities{
    color: #FFFFFF;
    padding: 6px 16px;
    background-color: #4CAF50;
    border-color: #4CAF50;
    text-align: center;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin: 0 auto;
}


#result{
    margin: 0 auto;
    
}

#result > table{
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 1em;
}


.results th , .results td{
    padding: 8px;
}

.results tr:nth-child(even){
    background-color: #F2F2F2;
}

.results tr:hover {
    background-color: #DDDDDD;
}

.results th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    
}

